<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @voice.user_id %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @voice.voice %>
</p>

<%= link_to 'Edit', edit_voice_path(@voice) %> |
<%= link_to 'Back', voices_path %>
