<%= form_for(@voice_datum) do |f| %>
  <% if @voice_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voice_datum.errors.count, "error") %> prohibited this voice_datum from being saved:</h2>

      <ul>
      <% @voice_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- 追加箇所 開始 -->
  <div class="field">
    <% if @voice_datum.voice? %>
      <div class="thumbnail">
        <%= voice_tag @voice_datum.voice.url %>
      </div>
    <% end %><br>
    <%= f.label :voice %><br>
    <%= f.file_field :voice %>
    <%= f.hidden_field :voice_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @voice_datum.persisted? && @voice_datum.voice? %>
      <label>
        <%= f.check_box :remove_voice %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>