<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @voice_datum.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @voice_datum.user_id %>
</p>

<p>
  <strong>Voice:</strong>
  <% if @voice_datum.voice? %>
    <div class="thumbnail">
      <%= image_tag @voice_datum.voice.url %>
    </div>
  <% end %>

</p>

<%= link_to 'Edit', edit_voice_datum_path(@voice_datum) %> |
<%= link_to 'Back', voice_data_path %>
